RewriteEngine On

RewriteCond %{THE_REQUEST} \s/+(.*?\.php) [NC]
RewriteCond %{REQUEST_URI} !\.[a-z]+$ 
RewriteRule ^ /%1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/.]+)$ $1.php [L]

ErrorDocument 404 /404.php