.hire-now-main{
    text-align: center;
    padding-top:10rem;
    display:flex;
    flex-direction: column;
    margin-bottom: 5rem;
}
.hire-now-boxes{
    display:flex;
    flex-direction: row;
    width: 100%;
    padding-left:2.5rem;
    padding-right:2.5rem;
}
.hire-now-boxes .box1, .hire-now-boxes .box2, .hire-now-boxes .box3{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40rem;
    border-radius: 15px;
}
.hire-now-boxes .box1{
    background-image: url('img/hirenow1.jpg');
}
.hire-now-boxes .box1 img, .hire-now-boxes .box3 img{
    margin-top:auto;
    width: 10%;
    height: 10%;
    position: relative;
    z-index: 2;
}
.hire-now-boxes .box2 img{
    margin-top:auto;
    width: 20%;
    height: 20%;
    margin-bottom: -2rem;
    position: relative;
    z-index: 2;
}
.hire-now-boxes .box1 button, .hire-now-boxes .box2 button, .hire-now-boxes .box3 button{
    margin-bottom: 2rem;
}
.hire-now-boxes .box1 h4, .hire-now-boxes .box2 h4, .hire-now-boxes .box3 h4{
    font-weight: bold;
    font-size: 2rem;
    padding: 0 0.4rem 0 0.4rem;
    position: relative;
    z-index: 2;
}
.hire-now-boxes .box2{
    background-image: url('img/hirenow2.jpg');
}
.hire-now-boxes .box3{
    background-image: url('img/hirenow3.png');
}
.box1 ul, .box2 ul, .box3 ul {
    list-style-type: disc;
    text-align: left;
}
.box1 ul li, .box2 ul li, .box3 ul li {
    font-size: 1.2rem;
    position: relative;
    z-index: 2;
}
.box1 li::marker {
    margin-left: 0.3rem;
    color: #fff;
}
.hire-now-buttons{
    color: white;
    padding: 0.35rem 1rem 0.35rem 1rem;
    background: linear-gradient(-90deg, #1884e3, #0e508a 50%, #e5b4f989);
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
    position: relative;
    z-index: 2;
}
.hire-now-boxes .box1::before,
.hire-now-boxes .box2::before,
.hire-now-boxes .box3::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  pointer-events: none;
  border-radius: inherit;
}

.hire-now-boxes .box1,
.hire-now-boxes .box2,
.hire-now-boxes .box3 {
  position: relative;
  overflow: hidden;
}
.hidden{
    display: none;
}