@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal; 
  }

body {
    margin: 0;
    font-family: 'Raleway';
    background: linear-gradient(145deg, #2e026b, #450d96);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

p {
    font-size: 1.2rem;
    margin: 10px 0 20px;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #6a0dad;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #8145c3;
    transform: scale(1.05);
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    opacity: 0.8;
    border-radius: 50%;
    animation: fall 3s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-100vh) translateX(0);
        opacity: 0.8;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) translateX(20vw);
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}