@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal; 
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    font-family: 'Raleway';
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1800px;
    }
}
.videol{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.videol video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-size: 3.75rem;
}
  
.left {
    position: relative;
    overflow: hidden;
}
  
.left video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 0;
}
  
.left .main {
    position: relative;
    z-index: 1;
    color: white;
    padding: 40px;
    text-align: center;
    margin-top: 100px;
}

.check-list {
    list-style: none;
    padding-left: 0;
    margin-top: 150px;
}
  
.check-list li {
    font-size: 1.2rem;
    margin-bottom: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 1rem;
}
  
.check-list li::before {
    content: "✔";
    color: white;
    margin-right: 10px;
    font-size: 2rem;
}
  
.right {
    background-color: #ffffff;
    padding: 40px;
    height: 100dvh;
    width: 100%;
}

.right .logo {
    display: block;
    margin-left: 2rem;
    margin-right: auto;
    margin-top: 20px;
    width: auto;
    height: auto;
    width: 200px;
    height: 67px;
    object-fit: contain;
}

.right h2 {
    color: black;
    margin-left: 2rem;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 2rem;
    padding-bottom: 0;
    font-size: 2rem;
}

.right p {
    color: rgb(163, 163, 163);
    margin-left: 2rem;
    font-size: 1.1rem;
    max-width:43rem;
    word-wrap:break-word;
}

.form-group {
    margin-left: 2rem;
    margin-right: auto;
    margin-top: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
    padding-bottom: 5px;
}
  
.form-group input {
    width: 30rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-group select {
    width: 30rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: transparent;
    color: black;
}

select option[disabled] {
    display: none;
}

.form-group textarea {
    width: 30rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-buttons {
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: auto;
    width: 30rem;
    display: flex;
    justify-content: space-between;
}

.form-buttons button {
    width: 30%;
    margin-bottom: 20px;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.form-buttons button:first-child {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.form-buttons button:last-child {
    background-color: #724FFF;
    color: white;
    border: 1px solid black;
}

.form-buttons button:first-child:hover {
    background-color: #8145c3;
    color: white;
}

.form-buttons button:last-child:hover {
    background-color: #8145c3;
}

.error-text {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
    display: none;
}

.iti__country-list .iti__country {
    color: #000 !important;
}

.iti__selected-flag {
    border-radius: 10px;
}

.iti__flag-container {
    border-radius: 10px;
}

#step-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;  /* Dodaje prostor između kalendara i select polja */
}

#calendar-wrapper {
    width: 280px;
    height: 320px;
}
  
#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #8145c3;
    border-radius: 10px;
}
  
#calendar-header button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}
  
#month-year {
    font-weight: bold;
    color: white;
}
  
#calendar-days, #calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 0;
}
  
#calendar-days div {
    margin-bottom: 5px;
    color: black;
}
  
.date {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
.date.disabled {
    color: #ccc;
    cursor: default;
}
  
.date.enabled:hover {
    background-color: #8145c3;
    color: white;
}
  
.date.selected {
    background-color: #8145c3;
    color: white;
}

#hour {
    max-width: 24.75rem;
}

#am-pm {
    max-width: 5rem;
}

@media (max-width: 480px) {
    .container {
        --bs-gutter-x: 0rem;
    }
    h1 {
        font-size: 3rem;
    }
    .bigbox {
        display:flex;
        flex-direction: column-reverse;
    }
}