@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal; 
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    font-family: 'Raleway';
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1800px;
    }
}
.videol{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.videol video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-size: 3.75rem;
}
  
.left {
    position: relative;
    overflow: hidden;
}
  
.left video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 0;
}
  
.left .main {
    position: relative;
    z-index: 1;
    color: white;
    padding: 40px;
    text-align: center;
    margin-top: 100px;
}

.check-list {
    list-style: none;
    padding-left: 0;
    margin-top: 150px;
}
  
.check-list li {
    font-size: 1.2rem;
    margin-bottom: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 1rem;
}
  
.check-list li::before {
    content: "✔";
    color: white;
    margin-right: 10px;
    font-size: 2rem;
}
  
.right {
    background-color: #ffffff;
    padding: 40px;
    min-height: 100dvh;
    width: 100%;
}

.right .logo {
    display: block;
    margin-left: 2rem;
    margin-right: auto;
    margin-top: 20px;
    width: auto;
    height: auto;
    width: 200px;
    height: 67px;
    object-fit: contain;
}

.right h2 {
    color: black;
    margin-left: 2rem;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 2rem;
    padding-bottom: 0;
    font-size: 2rem;
}

.right p {
    color: rgb(163, 163, 163);
    margin-left: 2rem;
    font-size: 1.1rem;
    max-width:43rem;
    word-wrap:break-word;
}

#step-2 {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-left: 2rem;
    margin-right: auto;
    margin-top: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
    padding-bottom: 5px;
}
  
.form-group input {
    width: 30rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-group select {
    width: 30rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: transparent;
    color: black;
}

select option[disabled] {
    display: none;
}

.form-group textarea {
    width: 30rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-buttons {
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: auto;
    width: 30rem;
    display: flex;
    justify-content: space-between;
}

.form-buttons button {
    width: 30%;
    margin-bottom: 20px;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.form-buttons button:first-child {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.form-buttons button:last-child {
    background-color: #724FFF;
    color: white;
    border: 1px solid black;
}

.form-buttons button:first-child:hover {
    background-color: #8145c3;
    color: white;
}

.form-buttons button:last-child:hover {
    background-color: #8145c3;
}

.error-text {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
    display: none;
}

.estbudget-text{
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
    display: none;
    margin-left: 2rem;
}

.budgettype-text{
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
    display: none;
    margin-left: 2rem;
}

.iti__country-list .iti__country {
    color: #000 !important;
}

.iti__selected-flag {
    border-radius: 10px;
}

.iti__flag-container {
    border-radius: 10px;
}

#step-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem; 
}

#step-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem; 
}

#calendar-wrapper {
    width: 280px;
    height: 320px;
}
  
#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #8145c3;
    border-radius: 10px;
}
  
#calendar-header button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}
  
#month-year {
    font-weight: bold;
    color: white;
}
  
#calendar-days, #calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 0;
}
  
#calendar-days div {
    margin-bottom: 5px;
    color: black;
}
  
.date {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
.date.disabled {
    color: #ccc;
    cursor: default;
}
  
.date.enabled:hover {
    background-color: #8145c3;
    color: white;
}
  
.date.selected {
    background-color: #8145c3;
    color: white;
}

#hour {
    max-width: 24.75rem;
}

#budgettype {
    max-width: 24.75rem;
}

#am-pm {
    max-width: 5rem;
}

.step3{
    display: flex;
    flex-direction: row;
}

.choices {
    max-width: 30rem;
    margin-bottom: 0;
}

.choices__inner {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    color: black;
    width: 30rem;
}

.choices__input {
    display: none !important;
}

.choices__list--multiple .choices__item {
    background-color: #724FFF;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    margin: 5px 5px 0 0;
}

.choices__list {
    background-color: white;   
    color: black;            
}
  
.choices__item {
    background-color: white; 
    color: black;            
}
  
.choices__item--highlighted {
    background-color: #f0f0f0; 
    color: black;              
}

#estbudget {
    max-width: 24.7rem;
}

#currency {
    max-width: 5rem;
}

/* Kontejner za slike */
.image-grid {
    max-width: 1200px;             /* ograničava ukupnu širinu grid-a */
    margin-left: 1rem;                /* centriranje na stranici */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    gap: 1rem;                     /* razmak između slika */
    padding: 1rem;
    box-sizing: border-box;
  }
  
  /* Stil za svaku sliku */
  .selectable-image {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    cursor: pointer;
    border: 4px solid transparent;
    border-radius: 8px;
    transition: border-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  /* Hover efekat */
  .selectable-image:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-color: #724FFF;
  }
  
  /* Selektovana slika */
  .selectable-image.selected {
    border-color: #724FFF;
    box-shadow: 0 0 0 4px rgba(155, 77, 202, 0.4);
  }
  

@media (max-width: 1280px) {
    .right p{
        max-width:35rem;
        word-wrap:break-word;
    }
    .right h2{
        max-width:33rem;
        word-wrap:break-word;
    }
    .right{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .form-step{
        display: flex;
        flex-direction: column;
    }
    #timezone{
        max-width: 15rem;
    }
    #hour{
        max-width: 9.7rem;
    }
    #budgettype {
        max-width: 24.7rem;
    }
    #hireframe {
        max-width: 30rem;
    }
    .image-grid {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}

@media (max-width: 1024px) {
    .bigbox {
        display:flex;
        flex-direction: column-reverse;
    }
    .container {
        --bs-gutter-x: 0rem;
        max-width: 1024px;
    }
    .form-step{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-left: 1rem;
    }
    .form-group{
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }
    .form-buttons{
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }
    .left-main{
        align-items: center;
        text-align: center;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 100%;
    }
    .form-step {
        margin-top: 5rem;
    }
    .right{
        height: 100%;
    }
    .right .logo{
        margin-left: 1rem;
        margin-right: 8rem;
    }
    .right h2{
        margin-left: 1rem;
        margin-right: 8rem;
        font-size: 2.1rem;
    }
    .right p{
        margin-left: 1rem;
        margin-right: 8rem;
        font-size: 1.3rem;
    }
    #timezone{
        max-width: 26rem;
    }
    #hour{
        max-width: 20.7rem;
    }
    .step3select{
        margin-left: 1rem;
    }
    #budgettype {
        max-width: 22.7rem;
    }
    .image-grid {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}

@media (max-width: 768px) {
    .bigbox {
        display:flex;
        flex-direction: column-reverse;
    }
    .container {
        --bs-gutter-x: 0rem;
        max-width: 768px;
    }
    .right .logo{
        margin-left: 0;
        margin-right: 0;
    }
    .right h2{
        margin-left: 0;
        margin-right: 0;
    }
    .right p{
        margin-left: 0;
        margin-right: 0;
    }
    .form-step{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-top: 0;
    }
    .form-group{
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }
    .form-group select{
        max-width: 30rem;
    }
    #step-2 select{
        max-width: 30rem;
    }
    #hour{
        max-width: 18.7rem;
    }
    #timezone{
        max-width: 24rem;
    }
    .form-buttons{
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }
    .step3select{
        margin-left: 1rem;
    }
    .left-main{
        align-items: center;
        text-align: center;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 100%;
        height: 100%;
    }
    #budgettype {
        max-width: 24.7rem;
    }
    .image-grid {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}

@media (max-width: 550px) {
    .form-step{
        margin-left: 0;
    }
    .step3{
        display: flex;
        flex-direction: column;
    }
    #hour {
        max-width: 20.7rem;
    }
    #timezone {
        max-width: 26rem;
    }
    #calendar-wrapper{
        margin-left: 1rem;
    }
    .calendar-label{
        margin-left: 1rem;
    }
    #timeframe {
        max-width: 28rem;
    }
    #estbudget {
        max-width: 22rem;
    }
    #currency {
        max-width: 5.6rem;
    }
    #step-3 .form-buttons{
        max-width: 28rem;
    }
    #budgettype {
        max-width: 21.7rem;
    }
    #hireframe {
        max-width: 28rem;
    }
}

@media (max-width: 480px) {
    .container {
        --bs-gutter-x: 0rem;
    }
    .right{
        height: 100%;
    }
    .right .logo{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .right h2{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .right p{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .form-step{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 21rem;
    }
    .form-group{
        margin-left: 0;
        margin-right: 0;
    }
    .form-group input{
        max-width: 19rem;
        align-items: center;
    }
    .form-group select{
        max-width: 19rem;
        align-items: center;
    }
    .choices__inner {
        max-width: 19rem;
        align-items: center;
    }
    .form-group textarea{
        max-width: 19rem;
        align-items: center;
    }
    .form-buttons{
        margin-left: 0;
        margin-right: 0;
        width: 19rem;
        align-items: center;
    }
    h1 {
        font-size: 3rem;
    }
    .bigbox {
        display:flex;
        flex-direction: column-reverse;
    }
    .step3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #hour {
        max-width: 16.7rem;
    }
    #estbudget {
        max-width: 13.7rem;
    }
    #timezone{
        max-width: 22rem;
    }
    #step-3{
        align-items: center;
    }
    #step-4{
        align-items: center;
    }
    #step-2 label{
        max-width:19rem;
        word-wrap:break-word;
    }
    #step-2 select {
        max-width: 19rem;
    }
    .step3select {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #timeframe {
        max-width: 19rem;
    }
    #budgettype {
        max-width: 13rem;
    }
    .image-grid {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media (max-width: 390px) {
    .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-left: 2.5rem;
    }
    .right p{
        margin-left: 0;
        margin-right: 0;
    }
    .right h2{
        margin-left: 0;
        margin-right: 0;
    }
    .right .logo{
        margin-left: 0;
        margin-right: 0;
    }
    #step-4{
        max-width: 18rem;
    }
    #step-3{
        max-width: 18rem;
    }
    #step-2{
        max-width: 18rem;
    }
    #step-1{
        max-width: 18rem;
    }
    .form-group select{
        max-width: 18rem;
        align-items: center;
    }
    .form-group input{
        max-width: 18rem;
        align-items: center;
    }
    .form-group textarea{
        max-width: 19rem;
        align-items: center;
    }
    .form-buttons{
        margin-left: 0;
        margin-right: 0;
        width: 18rem;
        align-items: center;
    }
    #hour{
        max-width: 14.7rem;
    }
    #timezone{
        max-width: 20rem;
    }
    .choices__inner {
        max-width: 18rem;
        align-items: center;
    }
    #estbudget {
        max-width: 12.7rem;
    }
    #currency {
        max-width: 5rem;
    }
    #timeframe{
        max-width: 18rem;
    }
    #budgettype {
        max-width: 12.7rem;
    }
    #step-2 select {
        max-width: 18rem;
    }
    .image-grid {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media (max-width: 350px) {
    .form-step{
        max-width: 17rem;
    }
    h1{
        font-size: 2.5rem;
    }
    .check-list{
        margin-top: 5rem;
    }
    .left .main{
        margin-top: 2rem;
    }
    #step-2 select {
        max-width: 18rem;
    }
    #step-2 textarea {
        max-width: 18rem;
    }
    #timezone {
        max-width: 18rem;
    }
    #hour {
        max-width: 12.7rem;
    }
    .step3select {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .calendar-label {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #calendar-wrapper {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .choices__inner {
        max-width: 18rem;
        align-items: center;
    }
    #budgettype {
        max-width: 12.7rem;
    }
}